@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.4s;
}

// GLOBAL START
html {
  width: 100%;
  font-size: 100%;
}
@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}
@media screen and (max-width: 668px) {
  html {
    font-size: 95%;
  }
}
@media screen and (max-width: 575px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 475px) {
  html {
    font-size: 85%;
  }
}
@media screen and (max-width: 380px) {
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 280px) {
  html {
    font-size: 75%;
  }
}

.f8 {
  font-size: 0.5rem;
}

.f10 {
  font-size: 0.625rem;
}

.f12 {
  font-size: 0.75rem;
}

.f14 {
  font-size: 0.875rem;
}

.f15 {
  font-size: 0.938rem;
}

.f16 {
  font-size: 1rem;
}

.f18 {
  font-size: 1.125rem;
}

.f20 {
  font-size: 1.25rem;
}

.f22 {
  font-size: 1.375rem;
}

.f24 {
  font-size: 1.5rem;
}

.f34 {
  font-size: 2.125rem;
}

.f30 {
  font-size: 1.875rem;
}

.f35 {
  font-size: 2.125rem;
  line-height: 57px;
}

.f50 {
  font-size: 3.125rem;
  line-height: 65px;
}

.f64 {
  font-size: 4rem;
  line-height: 71px;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

body {
  background: #000;
}

.page_container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

// HEADER
.header_container {
  padding: 1rem 0rem;
}
// HEADER

// LOADER START
.loading_page {
  position: fixed;
  height: 100vh;
  background: #000;
  width: 100%;
  z-index: 999;
  transition: 0.5s;

  .inner_loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
  }
}
// LOADER END

// CARD
.card-container {
  .card {
    background: #282828;

    img {
      min-height: 180px;
      max-height: 180px;
      object-fit: cover;
    }

    &:hover {
      box-shadow: 0px 0px 10px #4e4e4e;
      transform: scale(1.02);
      transition: 0.3s;
    }
  }
}
// CARD

// CARD
.playlist-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.playlist-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.playlist-item {
  width: 100%;
  margin: 0 1rem 1rem 0;
  background-color: #282828;
  box-shadow: 0px 0px 10px #282828;
  padding: 0.5rem;
  display: flex;
  align-items: center;

  &:hover {
    box-shadow: 0px 0px 10px #4e4e4e;
    transform: scale(1.01);
    transition: 0.3s;
  }
}

.song-image {
  width: 75px;
  height: 75px;
  margin-right: 1rem;
  border-radius: 50%;
}

.song-details {
  flex-grow: 1;
}

.song-controls {
  display: flex;
  align-items: center;
}
// CARD

// ADD ALBUM
.add_album_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
// ADD ALBUM

// INPUT START
input[type="date"] {
  &::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}

.custom-field {
  position: relative;
  font-size: 0.875rem;
  margin-bottom: 5px;
  display: inline-block;
  --field-padding: 12px;
  width: 100%;

  .lock {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
  }
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 0.875rem;
  color: #fff;
}

.custom-field .placeholder {
  position: absolute;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 27px;
  line-height: 100%;
  transform: translateY(-50%);
  color: #f0e8de;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder {
  top: -10px;
  font-size: 0.625rem;
  color: #000;
}

/* ONE */
.custom-field.one input {
  width: 100%;
  background: none;
  border: 3px solid #0d6dfd8c;
  transition: border-color 0.3s ease;
  border-radius: 6px;
}

.custom-field.one input + .placeholder {
  left: 8px;
  padding: 0 5px;
}

.custom-field.one input.dirty,
.custom-field.one input:not(:placeholder-shown),
.custom-field.one input:focus {
  border-color: #0d6efd;
  transition-delay: 0.1s;
}

.custom-field.one input.dirty + .placeholder,
.custom-field.one input:not(:placeholder-shown) + .placeholder,
.custom-field.one input:focus + .placeholder {
  top: 0;
  font-size: 15px;
  color: #fff;
  background: #000;
  width: auto;
}

.placeholder {
  background-color: #000;
  cursor: text;
}

.placeholder {
  opacity: 1;
  color: #fff;
}
// INPUT END
